.innerSection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: center;
    justify-content: space-between;
    // animation: slideFromBottom .5s ease-in-out;
    @include transition(.1s)
}