.loginAndRegister{
    display: flex;
    flex-direction: column;
    align-self: center;
    animation: zoomEffect2 .25s ease-in-out;
    padding: 2rem;
    @include transparent($transparentGrey6, $blur2);
    border-radius: 0.7rem;
    @include transition(.2s);
    // margin-bottom: 5rem;
}