.hoveringDescription{
    position: absolute;

    & .hoveringDescription-text{
        // position: absolute;
        @include transparent($transparent, $blur3);
        padding: .3rem;
        border-radius: .3rem;
        font-size: .7rem;
    }
}