.entryPage{
    position: relative;
    overflow: hidden;
    
    & .entryPage-colorLight{
        position: absolute;
        top: 30%;
        left: 50%;
        width: 25rem;
        height: 25rem;
        background: white;
        border-radius: 10rem;
        z-index: -1;
        pointer-events: none;
        filter: saturate(1.5);
        animation: move 20s ease-in-out infinite alternate, 
            gradientBackground 15s infinite alternate, 
            sizeChanging 15s infinite alternate;
        opacity: 100%;
        transition: .5s;
    }
    & .colorLight-off{
        opacity: 10%;
    }
    
    & .entryPage-backgroundLayer{
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(6rem);
        -webkit-backdrop-filter: blur(6rem);

        & .entryPage-innerElements{
            @include flexVerticalCentered(column);
            align-items: normal;
            height: 100vh;
            width: 100vw;
        
            & .entryPage-centerSection{
                @include flexVerticalCentered(column-reverse);
                justify-content: center;
                flex-grow: 1;
                gap: 2rem;
                justify-content: space-evenly;
            }
            
            & .entryPage-description{
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 45rem;
                font-size: 1rem;
                margin: 0rem 1rem 2rem 1rem;

                & > p {
                    background: $grey4;
                    padding: .4rem;
                    width: fit-content;
                }
                & > .verticalSpace {
                    margin: .7rem 0rem;
                }
            }
        }
    }

}