.home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @include transition(.1s);
    // row-gap: 4rem;
    
    & .fillTheGap {
        height: 3.9rem;
        @include transition(.1s)
    }

    & .innerHome {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-self: center;
    }
}
