.home {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    
    & .fillTheGap {
        height: 4rem;
    }

    & .innerHome {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
    }
}
