.home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @include transition(.1s);
    
    & .fillTheGap {
        height: 3.9rem;
    }

    & .innerHome {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        gap: 1rem;
    }
}
