.addPostButton{
    position: fixed;
    bottom: 2rem;
    align-self: flex-end;
    padding: .7rem;
    border-radius: 3rem;
    border: .25rem solid $transparentGrey1;
    z-index: 2;
    @include transparent($transparentwhite, .7rem);
    @include transition(.1s);
    // @include buttonBehavior($transparentwhite, .9);
    cursor: pointer;

    &:hover{
        background: darken($transparentwhite, 4%);
    }
    &:active{
        margin: 0rem 0.1rem .1rem 0rem;
        border: .15rem solid $transparentGrey1;
    }
    & > .addPostButton-img{
        display: flex;
    }
}