.feedSelector{
    background: $grey2;
    margin: 1rem 0rem;
    padding: .5rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: wrap;
    margin-top: 2rem;
}

    // feed element
    .feedElements{
        margin: .5rem;
        padding: .5rem 1rem;
        border-radius: 3rem;
        cursor: pointer;
        @include transition(.1s)
    }
    .feedElements:hover{
        background: $grey1;
    }
    .feedElements:active{
        transform: scale(.9);
    }

    // selected feed element
    .feedSelectedElement{
        background: $grey3;
    }
    .feedSelectedElement:hover{
        background: $grey3;
    }
    .feedSelectedElement:active{
        transform:none;
    }