.feedSelector{
    // background: $grey2;
    // margin: 1rem 0rem;
    padding: .5rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: wrap;
    // margin-top: 1rem;
    align-self: center;
}

    // feed element
    .feedElements{
        margin: .4rem;
        padding: .5rem 1rem;
        border-radius: 3rem;
        cursor: pointer;
        @include transition(.1s);
        
        &:hover{
            background: $grey1;
        }
        &:active{
            transform: scale(.9);
        }
    }

    // selected feed element
    .feedSelectedElement{
        background: $grey3;
        
        &:hover{
            background: $grey3;
        }
        &:active{
            transform:none;
        }
    }