.feed{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    @include transition(.15s);
    animation: slideFromBottom .2s ease-in-out;
    margin-bottom: 2rem;
}
.feed-loadingPost{
    flex-grow: 1;
    text-align: center;
    animation: slideFromBottom .7s ease-in-out;
}
.feed-glitterElement1{
    animation: 
        letterGlitering1 1s ease-in-out, 
        letterGlitering2 1s ease-in-out, 
        letterGlitering3 .5s ease-in-out infinite;
}
.feed-glitterElement2{
    animation: 
        letterGlitering2 1s ease-in-out, 
        letterGlitering3 1s ease-in-out, 
        letterGlitering1 .5s ease-in-out infinite;
}