.feedSelector{
    border-radius: 1rem;
    display: flex;
    align-self: center;
    max-width: 25rem;
    overflow-x: scroll;
    gap: .5rem;
    @include transition(.1s);
    
    // hide the horizontal scrollbar when there are too many feedElements that trigger the overflow-x scroll
    &::-webkit-scrollbar{
        display: none;
    }
    
    & .feedElements{
        padding: .5rem 1rem;
        border-radius: 3rem;
        cursor: pointer;
        @include transition(.1s);
        white-space: pre;
        display: flex;
        
        &:hover{
            background: $grey1;
        }
        &:active{
            transform: scale(.92);
        }
    }
    
    & .feedElements-profile{
        gap: 1rem;
    }
    & .feedElements-profile::before{
        content: url('../assets/profile.svg');
        height: 0.7rem;
    }

    & .feedElements-selected{
        background: $grey4;
        
        &:hover{
            background: $grey4;
        }
        &:active{
            transform:none;
        }
    }
}
