.topMenu{
    display: flex;
    align-self: center;
    flex-direction: row;
    padding: .5rem 1rem .5rem .5rem;
    border-radius: 4rem;
    z-index: 2;
    @include transparent($transparentGrey2, 2rem);
    box-shadow: 0rem 0rem 3rem $grey3;
    @include transition(.3s);
    gap: 1rem;
}