.topMenu{
    display: flex;
    align-self: center;
    flex-direction: row;
    z-index: 2;
    @include transparent($transparentGrey2, 2rem);
    @include transition(.3s);
    column-gap: 1rem;
    border: $border1;
}