// is used as a transition when switching between pages
@keyframes transitionDisappearing {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
// is used as a transition when switching between pages
@keyframes transitionAppearing {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}