// is used as a transition when switching between pages
@keyframes transitionDisappearing {
    0%{
        opacity: 100%;
        transform: scale(1);
    }
    100%{
        transform: scale(.8);
        opacity: 0%;
    }
}
// is used as a transition when switching between pages
@keyframes transitionAppearing {
    0%{
        opacity: 0%;
        transform: scale(.95);
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}