// is used for the counters to show up
@keyframes slideFromLeft {
    0% {
        opacity: 0;
        width: 0%;
        transform: translateX(-1rem);
    }
    50%{
        opacity: .5;
        width: 50%;
        transform: translateX(.3rem);
    }
    100% {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }
}
// is used for the counters when being hidden
@keyframes slideFromRight {
    from {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        width: 0%;
        transform: translateX(-1rem);
    }
}

// is used for the notification button, when there is a new notification and the blue point shows up
@keyframes slideFromLeft2 {
    0% {
        opacity: 0;
        margin-left: -.9rem;
    }
    50%{
        opacity: .7;
        margin-left: .5rem;
    }
    100% {
        opacity: 1;
        margin-left: 0rem;
    }
}

// is used in header in home, to animate the “kosmo project." title when appearing
@keyframes slideFromLeft3 {
    0% {
        opacity: 0;
        margin-left: -5rem;
    }
    50%{
        opacity: .5;
        margin-left: .5rem;
    }
    100% {
        opacity: 1;
        margin-left: 0rem;
    }
}

// the two below are used for pointCounter when visible/hidden
// in header / mobile
@keyframes slideFromRight_pointCounter {
    0% {
        opacity: 0;
        margin-right: -4rem;
    }
    50%{
        // opacity: .5;
        margin-right: .5rem;
    }
    100% {
        opacity: 1;
        margin-right: 0rem;
    }
}
@keyframes slideFromLeft_pointCounter {
    0% {
        opacity: 1;
        // margin-left: -4rem;
        transform: translateX(0rem);
        display: flex;
    }
    50%{
        // opacity: .5;
        // margin-left: .5rem;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 0;
        // margin-left: 0rem;
        transform: translateX(5rem);
        display: none;
    }
}
@keyframes slideFromBottom_pointCounter {
    0% {
        opacity: 1;
        transform: translateY(0rem);
        display: flex;
    }
    40%{
        transform: translateY(.5rem);
    }
    100% {
        opacity: 0;
        transform: translateY(-3rem);
        // display: none;
    }
}
@keyframes slideFromTop_pointCounter {
    0% {
        opacity: 0;
        margin-bottom: -2rem;
        transform: translateY(-1rem);
    }
    50%{
        margin-bottom: .2rem;
        transform: translateY(.5rem);
    }
    100% {
        opacity: 1;
        margin-bottom:0rem;
        transform: translateY();
    }
}

// is used in feed, to make a kind of glittering effect on the letters of the loading text, when it's loading for the feed content
@keyframes letterGlitering1 {
    0%{
        color: $white2;
    }
    50%{
        color: $pink;
    }
    100%{
        color: $white2;
    }
}
// is used in feed, to make a kind of glittering effect on the letters of the loading text, when it's loading for the feed content
@keyframes letterGlitering2 {
    0%{
        color: $white2;
    }
    50%{
        color: $blue;
    }
    100%{
        color: $white2;
    }
}
// is used in feed, to make a kind of glittering effect on the letters of the loading text, when it's loading for the feed content
@keyframes letterGlitering3 {
    0%{
        color: $pink;
    }
    50%{
        color: $white2;
    }
    100%{
        color: $blue;
    }
}

// is used as an animation for innerSection element to show up. Such as profile, feed...
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        margin-top: 1.5rem;
    }
    100% {
        opacity: 1;
        margin-top:0rem;
    }
}

// is used for the headerMenu panel
@keyframes slideFromTop {
    0% {
        opacity: 0;
        margin-bottom: -2rem;
    }
    50%{
        margin-bottom: .2rem;
    }
    100% {
        opacity: 1;
        margin-bottom:0rem;
    }
}
// is used for the headerMenu panel elements
@keyframes slideFromTop2 {
    0% {
        opacity: 0;
        margin-top: 1rem;
    }
    50%{
        margin-top: 4.5rem;
    }
    100% {
        opacity: 1;
        margin-top:4rem;
    }
}

// is used for pointCounter appearing in the HeaderMenu
@keyframes slideFromRight4 {
    0% {
        opacity: 0;
        margin-right: -6rem;
    }
    50%{
        // opacity: .5;
        margin-right: .5rem;
    }
    100% {
        opacity: 1;
        margin-right: 0rem;
    }
}

// CharacterCount appearing - AddPostText - HeaderMenu
@keyframes bounceZoom {
    0% {
        opacity: 0;
        transform:scale(1);
        background: $red;
    }
    50%{
        opacity: 1;
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}

// CharacterCount text appearing - AddPostText - HeaderMenu
@keyframes slideFromLeft_characterCountText {
    0% {
        opacity: 0;
        // transform:translateX(-5rem);
        margin-left: -7rem;
    }
    50%{
        margin-left: .5rem;
        // transform:translateX(.5rem);
    }
    100% {
        opacity: 1;
        // transform:translateX(0);
        margin-left: 0rem;
    }
}

// addPostMedia element hidding - addPostMedia - headerMenu
@keyframes verticalSlide1 {
    0% {
        opacity: 1;
        margin-bottom: 0rem;
    }
    40%{
        margin-bottom: .2rem;
    }
    100% {
        opacity: 0;
        margin-bottom:-5rem;
    }
}

@keyframes verticalSlide2 {
    0% {
        opacity: 1;
        margin-bottom: 0rem;
    }
    // 40%{
    //     margin-bottom: .2rem;
    // }
    100% {
        opacity: 0;
        margin-bottom:-5rem;
    }
}
@keyframes verticalSlide3 {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    // 50%{
    //     transform: translateY(.2rem);
    // }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// animation for panels notification/addPost/user in HeaderMenu panel
@keyframes verticalSlide4 {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
        margin-bottom: -1rem;
    }
    50%{
        transform: translateY(.1rem);
        margin-bottom: .1rem;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        margin-bottom: 0rem;
    }
}

// animation used for viewTypeSelector
@keyframes zoomEffect1 {
    0%{
        opacity: 0;
        transform: scale(.7);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
        transform: scale(1);  
    }
}

// for topMenu visible
@keyframes zoomEffect2 {
    0%{
        opacity: 0;
        transform: scale(.9);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        opacity: 1;
        // margin-top: 1rem;
        transform: scale(1);  
    }
}