@keyframes counter_showingUp {
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }
    50%{
        transform: translateX(.2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes counter_hidding {
    0%{
        opacity: 1;
        transform: translateX(0rem);
    }
    // 50%{
    //     transform: translateX(.2rem);
    // }
    100%{
        opacity: 0;
        transform: translateX(-1.2rem);
    }
}