.addPostPanelDraft{
    display: flex;
    flex-direction: column;
    max-height: 14rem;
    row-gap: .3rem;
    
    & .addPostPanelDraft-elements {
        flex-direction: column;
        overflow-y: scroll;
        display: flex;
        max-height: 14rem;
        row-gap: .5rem;
        align-self: center;
        width: 100%;
        border-radius: .5rem;
        
        & .addPostPanelDraft-items{
            padding: .5rem .7rem;
            @include buttonBehavior($grey2, .95, .1s);
            border-radius: .5rem;
            font-size: .7rem;
        }
    }

}