.addPostPanelMedia {
    padding: .3rem;
    border-radius: .5rem;
    font-size: .7rem;
    @include buttonBehavior($grey2, .97, .2s);
    display: flex;
    flex-direction: column;
    row-gap: .3rem;

    p {
        padding: .2rem 1rem 1.5rem 1rem;
    }
}

.addPostPanelMedia-open{
    animation: slideFromTop .4s ease-in-out;
}
.addPostPanelMedia-closed{
    animation: verticalSlide1 .3s ease-in-out;
}