.addPostPanelInnerSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .addPostPanelInnerSection-section1 {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        row-gap: .3rem;
    }

    .addPostPanelInnerSection-section2 {
        display: flex;
        // flex-grow: 1;
    }

    .addPostPanelInnerSection-open {
        animation: verticalSlide3 .3s ease-in-out;
        // animation-delay: .2s;
    }
    .addPostPanelInnerSection-closed {
        // animation: verticalSlide2 .25s ease-in-out;
        // animation-delay: .2s;
    }
}