.header {
    // @include transition(.2s);
    padding: 2rem;
    // animation: slideFromTop .25s ease-in-out;
    
    & .innerHeader-home {
        @include transition(.2s);
        @include flexVerticalCentered(row);
        margin: 0 3rem;
        
        & .projectTitle{
            animation: slideFromLeft3 .7s ease-in-out;
            // animation: slideFromLeft3 .7s ease-in-out, 
            //     // projectTitleLetterGlitering 5s ease-in-out 2
            // ;
            align-self: center;
        }

        & .emptyElement{
            width: 12rem;
        }

        & .innerHeader-section1 {
            @include flexVerticalCentered(row);
            // align-self: flex-end;
            justify-content: space-between;
            // column-gap: 1.5rem;
            // justify-content: center;
            position: relative;
            @include transition(.1s);
        }
    }
    & .innerHeader-home-mobile{
        margin: 2rem 0 0 0;
    }
    & .innerHeader-home-tablet{
        margin: 0;
    }
}

// ----- style for the entry screen
.header-entryPage {
    @include transition(.2s);
    @include flexVerticalCentered(row);
    margin-top: 2.5rem;
    padding: 0;
    margin-left: 2rem;
    
    & .innerHeader-entryPage {
        animation: zoomEffect1 .7s ease-in-out;
        
        // @include flexVerticalCentered(row);
        // justify-content: space-between;
        // width: 100%;
        // animation: flex-direction;
    
        & .header-entryPage-connectSection {
            @include flexVerticalCentered(row);
            row-gap: 1rem;
        }
    }
}
.header-entryPage-mobileScreen{
    // margin-top: 5rem;
}
.header-mobileScreen{
    padding: 0;

    & .innerHeader-home{
        & .innerHeader-section1{
            // align-self: center;
        }
    }
}