.headerMenu {
    @include flexVerticalCentered(row);
    background: $grey1;
    padding: .7rem 1rem;
    border-radius: 1rem;
    column-gap: 1rem;
    box-shadow: 0rem 0rem 3rem $transparentGrey2;
    animation: slideFromRight2 .7s ease-in-out;
}