.header {
    @include transition(.2s);

    // style for the home screen
    & .innerHeader-home {
        @include transition(.2s);
        @include flexVerticalCentered(row);

        & .innerHeader-section1 {
            @include flexVerticalCentered(row);
            justify-content: space-between;

            // style for the entry screen
            &.header-entryPage {
                @include transition(.2s);
                @include flexVerticalCentered(row);
                padding: 3rem;
            }

            & .innerHeader-entryPage {
                @include transition(.2s);
                @include flexVerticalCentered(row);
                justify-content: space-between;
                width: 100%;
                animation: flex-direction;

                & .header-entryPage-connectSection {
                    @include flexVerticalCentered(row);
                    gap: 1rem;
                }
            }
        }
    }
}