.header {
    // @include transition(.2s);

    & .innerHeader-home {
        @include transition(.2s);
        @include flexVerticalCentered(row);
        margin: 0 3rem;

        & .projectTitle{
            animation: slideFromLeft3 .7s ease-in-out, 
                // projectTitleLetterGlitering 5s ease-in-out 2
            ;
            align-self: center;
        }

        & .emptyElement{
            width: 12rem;
        }

        & .innerHeader-section1 {
            @include flexVerticalCentered(row);
            align-self: flex-end;
            justify-content: space-between;
            // column-gap: 1.5rem;
            // justify-content: center;
        }
    }
}

// ----- style for the entry screen
.header-entryPage {
    // @include transition(.2s);
    @include flexVerticalCentered(row);
    
    & .innerHeader-entryPage {
        @include flexVerticalCentered(row);
        justify-content: space-between;
        width: 100%;
        animation: flex-direction;
    
        & .header-entryPage-connectSection {
            @include flexVerticalCentered(row);
            row-gap: 1rem;
        }
    }
}
