.notificationPanel{
    position: absolute;
    // min-height: 3rem;
    width: 17rem;
    background: $grey4;
    border-radius: 1rem;
    top: 3.3rem;
    right: -6.3rem;
    z-index: 3;
    padding: 1rem;
    @include transition(.15s);
    box-shadow: 0rem 0rem 2rem $grey3;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    & .notificationPanel-element{
        // padding: .8rem 1rem;
        border-radius: .5rem;
        @include flexVerticalCentered(row);
        column-gap: 1rem;

        & .notificationPanel-icon{
            // width: 2rem;
            // height: 2rem;
            padding: 1rem;
            border-radius: .3rem;
            @include buttonBehavior($grey1, .95, .1s);
        }
        
        & .notificationPanel-text {
            @include buttonBehavior($grey1, .95, .1s);
            padding: .5rem 1rem;
            border-radius: .3rem;
            flex-grow: 1;
            text-align: center;
        }
    }
}