.pointCounter{
    border-radius: .4rem;
    @include flexVerticalCentered(row);
    justify-content: center;
    font-size: 1.1rem;
    @include buttonBehavior($pink, .95, .1s);
    padding: .5rem .7rem;
    align-self: flex-start;
    color: $grey2;
}

// changing the font-size for the pointCounter button on the headerMenu only
.headerMenu > .pointCounter{
    font-size: .8rem;
}