.pointCounter{
    width: 4rem;
    height: 2.5rem;
    border-radius: .2rem;
    // border: .2rem solid darken($pink, 10%);
    @include flexVerticalCentered(row);
    justify-content: center;
    font-size: 1.1rem;
    @include transition(.1s);
    @include buttonBehavior($pink, .95);
    padding: 0rem .3rem;
}