.pointCounter{
    background: $pink;
    width: 4rem;
    height: 2.5rem;
    border-radius: .8rem;
    border: .25rem solid darken($pink, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem .35rem 0rem .2rem darken($pink, 10%);
    cursor: pointer;
    transition: .1s ease-in-out 0s;
    font-weight: 800;
    font-size: 1.1rem;
}

.pointCounter:hover{
    background: darken($pink, 5%);
}
.pointCounter:active{
    transform: translateY(.4rem);
    box-shadow: 0rem .15rem 0rem .05rem darken($pink, 10%);
}