.searchFieldButton{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 2rem;
    height: 2rem;
    background: $blue;
    border-radius: 3rem;
    cursor: pointer;
    transition: .1s ease-in-out 0s;
}
.searchFieldButton:hover{
    background: darken($blue, 5%);
}
.searchFieldButton:active{
    background: darken($blue, 5%);
    transform: scale(.9);
}