.searchField{
    @include flexVerticalCentered(row);
    // width: 60%;
    background: $grey4;
    border-radius: 3.5rem;
    // border: .25rem solid $grey1;
    transition: .15s ease-in-out 0s;
    color: $white;
    font-family: 'sen';
    font-size: 1.2rem;
    padding: .5rem .6rem .5rem 1.3rem;
    // place-content: space-between;
    align-self: center;

    & .searchField:hover{
        // border: .25rem solid $grey2;
    }
        
    // ----- input
    & input{
        background: $grey4;
        color: $white;
        font-family: 'sen';
        font-size: 1.2rem;
        max-width: 9.5rem;
        flex-grow: 1;
    }
    & input:focus{
        outline: none;
        // background: $grey2;
    }

    & input::placeholder{
        font-size: 1.2rem;
        font-family: 'sen';
        color: $grey1;
    }

    // ----- textarea
    & textarea{
        background: $grey4;
        color: $white;
        font-family: 'sen';
        font-size: 1.2rem;
        // max-width: 9.5rem;
    }
    & textarea:focus{
        outline: none;
        // background: $grey2;
    }

    & textarea::placeholder{
        font-size: 1.2rem;
        font-family: 'sen';
        color: $grey1;
    }
}