.feedElement{
    @include buttonBehavior2($grey2, .95, .1s);
    padding: .4rem 1rem;
    border-radius: 3rem;
    // cursor: pointer;
    // @include transition(.1s);
    white-space: pre;
    display: flex;
}

.feedElement-selected{
    background: $grey4;
    
    &:hover{
        background: $grey4;
    }
    &:active{
        transform:none;
    }
}