.feedSelector{
    border-radius: 1rem;
    display: flex;
    align-self: center;
    max-width: 25rem;
    overflow-x: scroll;
    gap: .5rem;
    @include transition(.2s);
    
    // hide the horizontal scrollbar when there are too many feedElements that trigger the overflow-x scroll
    // edit 09/01/24 : not working on firefox for now
    &::-webkit-scrollbar{
        display: none;
    }
    
    // & .feedElements{
    //     padding: .4rem 1rem;
    //     border-radius: 3rem;
    //     cursor: pointer;
    //     @include transition(.1s);
    //     white-space: pre;
    //     display: flex;
        
    //     &:hover{
    //         background: $grey1;
    //     }
    //     &:active{
    //         transform: scale(.92);
    //     }
    // }
    
    // & .feedElements-profile{
    //     gap: 1rem;
    // }
    // & .feedElements-profile-selected{
    //     background: $grey4;
    // }
    // & .feedElements-profile-selected:hover{
    //     background: $grey4;
    // }
    // & .feedElements-profile::before{
    //     content: url('../assets/profile.svg');
    //     height: 0.7rem;
    // }


    // & .feedElements-selected{
    //     background: $grey4;
        
    //     &:hover{
    //         background: $grey4;
    //     }
    //     &:active{
    //         transform:none;
    //     }
    // }
}
