.topMenu{
    display: flex;
    align-self: center;
    flex-direction: row;
    z-index: 2;
    @include transition(.2s);
    column-gap: .5rem;
    border: $border1;

    position: relative;
    top: 0rem;
    background: $transparentGrey1;
}
.topMenu-sticky{
    position: fixed;
    top: .3rem;
    animation: bounce .4s ease-in-out;
    box-shadow: $shadow4;
    // background: ;
    // column-gap: .5rem;
    @include transparent($transparentGrey2, $blur2);
}