.addPost{
    display: flex;
    animation: slideFromTop .4s ease-in-out;
    column-gap: .7rem;
    height: 15rem;

    & .addPost-elements {
        display: flex;
        flex-direction: column;
        align-self: center;
        row-gap: .5rem;
    }

    & textarea {
        padding: .7rem;
        background: black;
        border: none;
        border-radius: .5rem;
        font-family: 'sen','saira', Arial, Helvetica, sans-serif;
        color: $white3;
        font-size: .9rem;
        resize: none;
        width: 20rem;
        // box-sizing: border-box;
        // height: 9rem;
        @include transition(.2s);
        // box-shadow: $innerShadow1;
    }
    & textarea:active{
        // border: $border1;
    }
}