.headerMenu {
    @include flexVerticalCentered(column);
    // background: $grey1;
    // padding: .8rem;
    // border-radius: 1rem;
    // box-shadow: 0rem 0rem 3rem $transparentGrey2;
    // box-shadow: $shadow2;
    animation: slideFromRight2 .7s ease-in-out;
    position: relative;
    // row-gap: .75rem;
    font-size: .9rem;
    // @include transparent($transparentGrey1, $blur2);
    
    & .headerMenu-elements{
        position: relative;
        padding: .8rem;
        border-radius: 1rem;
        box-shadow: $shadow2;
        @include flexVerticalCentered(row);
        column-gap: 1rem;
        align-self: flex-end;
        @include transparent($transparentGrey1, $blur2);
        border: $border1;

        & > *{
            box-shadow: $shadow1
        }
    }
}