.headerMenuPanelElement{
    padding: .7rem;
    background: $transparentGrey8;
    border-radius: .7rem;
    box-shadow: $shadow5;
}
.headerMenuPanelElement-selected{
    animation: verticalSlide4 .3s ease-in-out;
}