.headerMenu {
    @include flexVerticalCentered(column);
    // background: $grey1;
    // padding: .8rem;
    // border-radius: 1rem;
    // box-shadow: 0rem 0rem 3rem $transparentGrey2;
    // box-shadow: $shadow2;
    animation: slideFromRight_pointCounter .7s ease-in-out;
    position: relative;
    // row-gap: .75rem;
    font-size: .9rem;
    // @include transparent($transparentGrey1, $blur2);
    
    & .headerMenu-elements{
        position: relative;
        padding: .6rem;
        border-radius: .8rem;
        box-shadow: $shadow2;
        @include flexVerticalCentered(row);
        column-gap: .8rem;
        align-self: flex-end;
        @include transparent($transparentGrey1, $blur2);
        border: $border1;
        @include transition(.4s);
        // height: 1.8rem;

        // & > *{
        //     box-shadow: $shadow1;
        //     // height: 100%;
        // }

        // &:hover{
        //     transform: scale(1.1);
        // }
    }
}