.headerMenuButton{
    @include flexVerticalCentered(row);
    @include buttonBehavior3($grey3, .9, .1s);
    color: $white2;
    padding: .4rem .5rem;
    border-radius: .5rem;

    & .buttonWithIcon-headerMenuButton-addPost{
        column-gap: .5rem;
    }
    & .buttonWithIcon-headerMenuButton-user{

    }
    & .buttonWithIcon-headerMenuButton-notification{

    }
}
.headerMenuButton-user{

}
.headerMenuButton-addPost{
    
}
.headerMenuButton-notification{

}