.upDownVoteButton{
    background: $grey1;
    border-radius: 3rem;
    padding: .7rem;
    display: flex;
    z-index: 1;
}

// upvote
.upDownVoteButton-up{
    
}

// downvote
.upDownVoteButton-down{

}