.addPostMedia {
    padding: 1rem;
    border-radius: .5rem;
    font-size: .7rem;
    height: 3rem;
    // margin-top: .3rem;
    // box-shadow: $innerShadow3;
    @include buttonBehavior($grey2, .97, .2s)
}

.addPostMedia-open{
    animation: slideFromTop .4s ease-in-out;
}
.addPostMedia-closed{
    animation: verticalSlide1 .3s ease-in-out;
}