.addPostMedia {
    padding: 1rem;
    border-radius: .5rem;
    font-size: .7rem;
    height: 3rem;
    margin-top: .3rem;
    box-shadow: $innerShadow3;
    @include buttonBehavior($grey4, .97, .2s)
}