.addPostInnerSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // row-gap: 1rem;

    .addPostInnerSection-section1 {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    .addPostInnerSection-section2 {
        display: flex;
        // flex-grow: 1;
    }

    .addPostInnerSection-open {
        animation: verticalSlide3 .3s ease-in-out;
        // animation-delay: .2s;
    }
    .addPostInnerSection-closed {
        // animation: verticalSlide2 .25s ease-in-out;
        // animation-delay: .2s;
    }
}