.rightPanel {
    display: flex;
    flex-direction: column;
    // max-width: 30%;
    // min-width: 25%;
    row-gap: 1rem;
    @include transition(.15s);
    // border-left: $border1;
    
    & .rightPanel-elements{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        padding: 1.5rem;
        border-left: $border1;
        // min-width: 25%;
        width: 17rem;
        background: $grey4;
        border-radius: 1rem;
        border: $border7;
        // animation: showingUp_rightPanel .4s ease-in-out;
    }
    
    & .rightPanel-elements-visible{
        animation: slideFromRight_rightPanel .4s ease-in-out;
    }
    & .rightPanel-elements-hidden{
        animation: slideFromLeft_rightPanel .4s ease-in-out;
    }
}
.rightPanel-detailsView > .rightPanel-elements{
    height: 100%;
    overflow-y: scroll;
}