.rightPanel {
    border-left: .1rem solid $grey2;
    max-width: 30%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    @include transition(.15s);
    animation: slideFromRight3 .3s ease-in-out;
}