.trendSection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    // margin: .5rem;

    & .trendButtons{
        display: flex;
        flex-direction: column;
    }
}