.trendSection{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-radius: 0.5rem;
    // padding: 1.5rem;

    & .trendSection-elements{
        display: flex;
        flex-direction: column;
        row-gap: .8rem;
    }
}