.addFeedButton{
    display: flex;
    align-self: center;
    padding: .3rem;
    padding-right: 1rem;
    border-radius: 5rem;
    @include buttonBehavior($blue, .95, .1s);
    border: $border6;
    margin: 0rem 1.5rem;
    font-size: .85rem;

    & .buttonWithIcon-addFeedButton{
        @include flexVerticalCentered(row);
        column-gap: .5rem;
        white-space: nowrap;

        & img {
            background: $grey2;
            padding: .3rem;
            border-radius: 5rem;
        }
    }
}