.addFeedButton{
    display: flex;
    align-self: center;
    // background: $blue;
    padding: .6rem;
    border-radius: 5rem;
    @include buttonBehavior($blue, .95, .1s);
    border: $border6;
    margin: 0rem 1.5rem;

    & .buttonWithIcon-addFeedButton{
        display: flex;
    }
}