.feedRegularView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    @include transition(.15s);
    // animation: slideFromBottom .25s ease-in-out;
    margin-bottom: 4rem;
    // gap: 1rem;
}

.feedRegularView-desktop {
    gap: 3rem 2rem;
}
.feedRegularView-mobile {
    gap: 3rem 1.5rem;
}
.feedRegularView-tablet {
    gap: 3rem 1.5rem;
}