.feedColumn {
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    border-radius: .7rem .7rem 0rem 0rem;
    width: 20rem;

    & .feedColumn-buttons{
        @include flexVerticalCentered(row);
        column-gap: .4rem;
        align-self: center;

        & .searchField {
            align-self: flex-start;
            background: $transparentGrey2;
            color: $grey4;
            // border-radius: .5rem;
    
            & .buttonType1-search{
                padding: .3rem;
                // border-radius: .3rem;
                
                & .buttonType1-image {
                    display: flex;
                    align-items: center;
                    height: .9rem;
                    width: .9rem;
                }
            }
        }
    }
    
    // & .feedColumn-posts{
    //     display: flex;
    //     flex-direction: column;
    //     row-gap: .7rem;
    //     overflow-y: scroll;
    //     border-radius: .7rem .7rem 0rem 0rem;
    //     background: $grey4;
    //     border: $border1;
    //     padding: .7rem;
    //     border-bottom: none;
    // }
}