.feedColumnsView {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    height: 78vh;
    background: $grey5;
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 0;
    border-top: $border2;
    flex-grow: 1;
    overflow-x: scroll;
}