.filterPanel{
    padding: 1rem;
    border-radius: .5rem;
    background: $grey3;
    font-size: .8rem;
    @include flexVerticalCentered(row);

    & .filterPanel-innerSections{
        display: flex;
        flex-direction: column;
    }
}

.filterPanel-open{
    animation: filterPanelOpen .2s ease-in-out;
}
.filterPanel-closed{
    animation: filterPanelClosed .3s ease-in-out;
}