.notificationPanel{
    // animation: slideFromTop .4s ease-in-out;
    border-radius: 1rem;
    z-index: 3;
    @include transition(.15s);
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-size: .8rem;

    & .notificationPanel-buttons{
        @include flexVerticalCentered(row);
        // border-bottom: $border1;
        justify-content: flex-end;
    }

    & .notificationPanel-elements-section {
        display: flex;
        // row-gap: .2rem;
        flex-direction: column;
    }

    // & .notificationPanel-element{
    //     border-radius: .5rem;
    //     @include flexVerticalCentered(row);
    //     column-gap: .8rem;

    //     & .notificationPanel-icon{
    //         padding: 1rem;
    //         border-radius: .3rem;
    //         @include buttonBehavior($grey2, .95, .1s);
    //     }
        
    //     & .notificationPanel-text {
    //         @include buttonBehavior($grey2, .95, .1s);
    //         padding: .5rem 1rem;
    //         border-radius: .3rem;
    //         flex-grow: 1;
    //         text-align: center;
    //     }
    // }
}