.notificationPanelElement{
    @include flexVerticalCentered(row);
    // margin: .1rem;
    column-gap: .7rem;
    // @include transition(.2s);
    @include buttonBehavior2($grey4, .98, .2s);
    padding: .4rem;
    border-radius: .7rem;
    padding-left: .7rem;

    & .notificationDot{
        // background: $pink;
        border-radius: 3rem;
        border: $border9;
        animation: notificationPanelElement_keyframe_open .4s ease-in-out;
        padding: .3rem;
        // @include buttonBehavior3($pink, .95, .2s);
        background: $pink;
        @include transition(.1s);

        &:hover {
            // border: $border12;
            // padding: .4rem;
        }
    }
    & .notificationDot-hidden{
        animation: notificationPanelElement_keyframe_close .5s ease-in-out;
        background: unset;
    }

    & .notificationPanelElement-innerSection{
        padding: .5rem 1rem;
        border-radius: .5rem;
        @include buttonBehavior2($grey1, 1, .2s);
        // box-shadow: $innerShadow4;
        background: $grey2;

        & .notificationPanelElement-text{
            @include transition(.2s);
        }
    }
    & .notificationPanelElement-innerSection-read{
        @include buttonBehavior2($grey2, 1, .2s);
        background: $grey3;
        // margin: .4rem;
    }
}

.notificationPanelElement-read {
    background: unset !important;
    padding: 0;
    margin: .2rem;
}