.notificationElement{
    @include flexVerticalCentered(row);
    margin: .3rem;
    column-gap: 1rem;

    & .notificationDot{
        background: $pink;
        width: .7rem;
        height: .7rem;
        border-radius: 3rem;
        border: $border2;
        animation: notificationElement_keyframe_open .2s ease-in-out;
    }
    & .notificationDot-hidden{
        animation: notificationElement_keyframe_close .2s ease-in-out;
    }

    & .notificationElement-innerSection{
        padding: .5rem 1rem;
        border-radius: .5rem;
        @include buttonBehavior($grey1, .95, .2s);
        box-shadow: $innerShadow4;
    }
    & .notificationElement-innerSection-read{
        @include buttonBehavior($grey2, .95, .2s);
    }
}