// -------- main colors
$white0 : #FFFFFF;
$white1 : #EEEEEE;
$white2 : #D9D9D9;
$white3 : #c7c7c7;
$white4 : #bababa;
$white5 : #a4a4a4;
$white : #dddddd; // <-- deprecated
$grey1 : #5C5C5C;
$grey2 : #3C3C3C;
$grey3 : #2C2C2C;
$grey4 : #1E1E1E;
$pink : #E5A2CA;
$blue : #7CB1FF;
$red : #bc6785;
$transparentGrey1: #5c5c5ca8;
$transparentGrey2 : #3C3C3Ca8;
$transparentGrey3 : #2c2c2c1a;
$transparentGrey4 : #1e1e1e29;
$transparentGrey5 : #3e3e3e6a;
$transparentGrey6 : #1c1c1cbe;
$transparentGrey7 : #00000081;
$transparentGrey8 : #1e1e1ee1;
$transparentWhite1 : #ffffff99;
$transparentWhite2 : #dddddd69;
$transparentWhite3 : #c3c3c35c;
$transparentPink : #e5a2ca73;
$transparentBlue : #7cb0ff6e;
$transparent : #dddddd1a;
$transparent1 : #ffffff0d;

// shadows
$shadow1 : 0rem 0rem .5rem $transparentGrey5;
$shadow2 : 0rem 0rem 1rem $transparentGrey4;
$shadow3 : 0rem 0rem .4rem .1rem $grey3;
$shadow4 : 0rem 0rem 3rem 0rem $transparentGrey6;
$shadow5 : 0rem 0rem .4rem 0rem $grey4;
$innerShadow1 : inset 0rem 0rem .2rem .1rem $grey2;
$innerShadow2 : inset 0rem 0rem 0rem .1rem $transparentGrey4;
$innerShadow3 : inset 0 0 0 .1rem $grey2;

// blur
$blur1 : 1rem;
$blur2 : 1.5rem;
$blur3 : 2rem;

// border
$border1 : solid .1rem $transparent;
$border2 : solid .1rem $transparentGrey1;

// -------- main fonts
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// -------- redundant usable rules
@mixin usualSpaces($marginY, $marginX, $paddingY, $paddingX){
    margin: $marginY $marginX;
    padding: $paddingY $paddingX;
    border-radius: .6rem;
}

@mixin transition($time){
    transition: $time ease-in-out 0s;
}

@mixin transparent($color, $blur){
    background: $color;
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

@mixin buttonBehavior($color, $scale, $transitionTime){
    background: $color;
    cursor: pointer;
    @include transition($transitionTime);

    &:hover{
        background: darken($color, 4%);
    }
    &:active{
        transform: scale($scale);
    }
}
@mixin buttonBehavior2($color, $scale, $transitionTime){
    cursor: pointer;
    @include transition($transitionTime);

    &:hover{
        // background: $color;
        background: darken($color, 3%);
    }
    &:active{
        transform: scale($scale);
    }
}

@mixin flexVerticalCentered($flexdirection){
    display: flex;
    flex-direction: $flexdirection;
    align-items: center;
}

// -------- path for the images
$assetsPath : 'src/assets/';

// -------- main rules
* {
    // @include transition(.1s);
}

body {
    font-family: 'sen','saira', Arial, Helvetica, sans-serif;
    margin: 0;
    background: $grey3;
    font-size: 1rem;
    // @include transition(.1s);
    color: $white2;
}

a {
    text-decoration: none;
    color: $white;
}

img {
    max-width: 10rem;
    // border-radius: 15rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    margin: 1rem;
    list-style: none;
}

input[type="checkbox"] {
    margin: 0 .5rem;
}

h1{
    font-size: 1.7rem;
    margin: 0;
}
h2{
    font-size: 1.3rem;
    margin: 0;
}

button{
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
strong{
    font-weight: 800;
}
p{
    margin: 0;
}
textarea {
    // border: none;
    font-family: 'sen','saira', Arial, Helvetica, sans-serif;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

// --- personal redondant elements

.dividerHorizontal {
    height: .15rem;
    background: $grey1;
    width: 100%;
    align-self: center;
    @include usualSpaces(1rem, 0rem, 0rem, 0rem);
    border-radius: .5rem;
}
.dividerVertical {
    border-left: #1E1E1E;
}
.dividerElement {
    align-self: center;
    border-radius: .5rem;
    border: .05rem solid $white5;
    width: 80%;
}

// animations that are showing up when loading a page, from entry to home for example
.pageAnimationFadeOut {
    animation: fadeOutAnimation .5s forwards;
}
.pageAnimationFadeIn {
    animation: fadeInAnimation 1s forwards;
}