// -------- main colors
$white : #dddddd;
$grey1 : #5C5C5C;
$grey2 : #3C3C3C;
$grey3 : #2C2C2C;
$grey4 : #1E1E1E;
$pink : #E5A2CA;
$blue : #7CB1FF;

// -------- main fonts
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

// -------- redundant usable rules
@mixin usualSpaces($marginY, $marginX, $paddingY, $paddingX){
    margin: $marginY $marginX;
    padding: $paddingY $paddingX;
    border-radius: .6rem;
}

@mixin buttonType1($color){
    background: $color;
    cursor: pointer;
    @include transition(.1s);
    border-radius: 3rem;
    z-index: 1;

    &:hover {
        background: darken($color, 7%);
        // filter: brightness(85%);
    }
    &:active {
        transform: scale(.9);
    }
}

@mixin transition($time){
    transition: $time ease-in-out 0s;
}

// -------- path for the images
$assetsPath : 'src/assets/';

// -------- main rules
* {
    // transition: .05s;
}

body {
    font-family: 'sen';
    margin: 0;
    background: $grey3;
    font-size: 1rem;
    transition: .1s;
    color: $white;
    transition: .15s ease-in-out 0s;
}

a {
    text-decoration: none;
    color: $white;
}

img {
    max-width: 10rem;
    // border-radius: 15rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    margin: 1rem;
    list-style: none;
}

input[type="checkbox"] {
    margin: 0 .5rem;
}

h1{
    font-size: 1.5rem;
}

button{
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
strong{
    font-weight: 800;
}
p{
    margin: 0;
}

.divider {
    height: .15rem;
    background: $grey1;
    width: 100%;
    align-self: center;
    @include usualSpaces(1rem, 0rem, 0rem, 0rem);
    border-radius: .5rem;
}