// ----- desktop
@media screen and (min-width:700px) {
    .feedSelector{
        // max-width: 50%;
        // border-radius: 6rem;
    }
}

// ----- mobile/tablet
@media screen and (max-width:1100px) {
    .innerHeader-home{
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:800px) {

}
@media screen and (max-width:699px) {
    .topMenu{
        padding: 0.3rem 0rem;

        & .feedSelector{
            padding: 0rem .4rem;
        }
    }
    .searchField{
        background: $grey2;

        & input {
            background: $grey2;
            color: $white;
        }
    }
    .innerHeader-home{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:600px) {
    .post{
        margin: 0rem 0rem 2rem 0rem;
    }
    .entryPage-description{
        font-size: .9rem !important;
    }
}
@media screen and (max-width:500px) {
    .home{
        padding: 2rem;
    }
    .topMenu{
        border-radius: 1rem;

        & .feedSelector{
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width:450px) {
    .header-entryPage{
        padding: 3rem 1rem;

        & .innerHeader-entryPage{
            flex-direction: column;
            gap: 3rem;
        }
    }
    .entryPage-innerElements{
        gap: 0rem !important;

        & .entryPage-centerSection{
            flex-direction: column-reverse !important;
            justify-content: space-around !important;
    
            & .entryPage-buttonSection > *{
                font-size: 1.7rem;
            }
        }
        
        & .entryPage-description{
            max-width: 20rem !important;
            font-size: .8rem !important;
        }
    }
}
@media screen and (max-width:400px) {
    .commentElements, .upDownVoteElements{
        margin-left: 0rem;
    }
}

@media screen and (max-width:350px) {
    .buttonType1-comment{
        padding: .5rem .8rem !important;
        
        & > p{
            display: none;
        }
        & > .buttonType1-image{
            display: flex !important;
        }
    }
    .buttonType1-theme{
        margin-bottom: .5rem;
    }
    .innerHeader-home{
        flex-direction: column-reverse;
    }
    .pointCounter{
        align-self: flex-end;
        margin-bottom: 2rem;
    }
    .searchField > input{
        max-width: 8.5rem;
    }
}