// ----- desktop
// range : from 1100px to more
@media screen and (min-width:1101px) {

}

// ----- tablet

// range : 1100px and less
@media screen and (max-width:1099px) {
    
}

// ----- mobile

// range : 700px and less
@media screen and (max-width:699px) {
    .entryPage-description-texts{
        font-size: .9rem !important;
    }
}

// ----- mobile-tiny

// range : 370px and less
@media screen and (max-width:370px) {
    .home{
        padding: .8rem;
    }
    .buttonType1-comment{
        padding: .5rem .8rem !important;
        
        & > p{
            display: none;
        }
        & > .buttonType1-image{
            display: flex !important;
        }
    }
    .searchField > input{
        max-width: 7.5rem;
    }
    .followButton{
        flex-direction: column;
        align-items: center;
    }
}

// --------------- responsive rules for the height
@media screen and (max-height:500px) {
    .entryPage-innerElements{
        height: inherit !important;
        width: inherit !important;

        & .entryPage-centerSection{
            margin: 5rem 1rem !important;
        }
    }
}
// I made these modifications for smartphones in landscape mode as I experienced a strange bug where the texts in description were showing up in different font size..
// so below, these rules aims to be enable only on smartphone devices that are in landscape mode
@media screen and (max-height:350px) and (max-width:900px) and (min-width:700px) {
    .entryPage-description{
        max-width: 30rem !important;
        
        & .entryPage-description-texts{
            width: inherit !important;
            font-size: .5rem !important;
        }
        & .verticalSpace{
            display: none;
        }
    }
}