// ----- desktop
@media screen and (min-width:900px) {
    .feedSelector{
        // max-width: 50%;
        border-radius: 6rem;
        padding: 0.2rem .4rem;
    }
}

// ----- mobile/tablet
@media screen and (max-width:800px) {

}
@media screen and (max-width:600px) {
    .post{
        margin: 0rem 0rem 2rem 0rem;
    }
}
@media screen and (max-width:400px) {
    .commentElements, .upDownVoteElements{
        margin-left: 0rem;
    }
}

@media screen and (max-width:350px) {
    .buttonType1-comment{
        padding: .5rem .8rem !important;
        
        & > p{
            display: none;
        }
        & > .buttonType1-image{
            display: flex !important;
        }
    }
    .buttonType1-theme{
        margin-bottom: .5rem;
    }
    .header{
        flex-direction: column-reverse;
    }
    .pointCounter{
        align-self: flex-end;
        margin-bottom: 2rem;
    }
    .searchField > input{
        max-width: 8.5rem;
    }
}