.feed{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    @include transition(.15s);
    // animation: slideFromBottom .25s ease-in-out;
    // margin-bottom: 2rem;

    // css for the feedViews (columns, details, regular)
    & > *{
        animation: slideFromBottom .25s ease-in-out;
    }
}
.feed-loadingPost{
    flex-grow: 1;
    text-align: center;
    animation: slideFromBottom .7s ease-in-out;
}
.feed-regularView{
    // padding: 1rem;
}
.feed-detailsView{

}
.feed-columnsView{
    // overflow-x: scroll;
    width: 100%;
}

// style for the letters that show up hen loading a post
.feed-glitterElement1{
    animation: 
        letterGlitering1 1s ease-in-out, 
        letterGlitering2 1s ease-in-out, 
        letterGlitering3 .5s ease-in-out infinite;
}
.feed-glitterElement2{
    animation: 
        letterGlitering2 1s ease-in-out, 
        letterGlitering3 1s ease-in-out, 
        letterGlitering1 .5s ease-in-out infinite;
}