@media (prefers-color-scheme: unset) {
    body{
        color: $grey4;
        background: $white0;
    }
    .innerPost, .buttonType1-upvote, .buttonType1-downvote, .buttonType1-comment{
        background: $white2 !important;

        & .buttonType1-image {
            filter: invert(1);
        }
    }
    .buttonType1-theme{
        background: $white1 !important;
    }
    .topMenu{
        background: $transparentWhite3;
        // box-shadow: 0rem 0rem 3rem $white5;
    }
    .entryPage .entryPage-backgroundLayer{
        background: none;

        & .entryPage-innerElements .entryPage-description > p{
            background: $grey3;
            color: $white1;
        }
    }
    .buttonType1-entryButton{
        // background: $white0;
    }
    .button-trend{
        background: $white1;
    }
    .searchField{
        background: $white1;

        & > input{
            background: $white1;
            color: $grey4;
        }
    }
    .feedElements-selected{
        background: $white1 !important;
    }
}