// css rules for profilePhoto in HeaderMenu
.profileButton {

    .profilePhoto {
        display: flex;
        
        & > img {
            width: 1rem;
            height: 1rem;
            border-radius: 2rem;
            box-shadow: $shadow6;
            border: $border5;
        }
    }
}

// css rules for profilePhoto in Profile
.profile-innerSection1-imageAndCounter {
    
    & .profilePhoto {
        
        & img {
            width: 6rem;
            border-radius: 6rem;
            border: $border6;
        }
    }
}

// css rules for profilePhoto in FeedSelector
.profileButton-feedSelector{
    & .profilePhoto{
        & img {
            border: none;
            border-radius: 0rem;
            height: .9rem;
            width: .9rem;
        }
    }
}