// css rules for profilePhoto in HeaderMenu
.profileButton {

    .profilePhoto {
        display: flex;
        
        & > img {
            width: 1rem;
            height: 1rem;
            border-radius: 2rem;
            // filter: drop-shadow($shadow6);
            // border: $border1;
            // box-shadow: $shadow1;
            border: $border4;
        }
    }
}

// css rules for profilePhoto in Profile
.profile-innerSection1-imageAndCounter {
    
    & .profilePhoto {

        & img {
            width: 6rem;
            border-radius: 3rem;
            border: $border3;
        }
    }
}