.backgroundLayer{
    position: absolute;
    top: 0;
    left: 0;
    // height: 100vh;
    // width: 100vw;
    // @include transparent($transparentGrey2, $blur3);
    z-index: 5;
    display: none;
    @include transition(.15s)
}
.backgroundLayer-visible{
    display: block;
    height: 100%;
    width: 100%;
    @include transparent($transparentGrey1, $blur3)
}