.entryPage{
    position: relative;
    overflow: hidden;
    @include transition(.1s);
    
    & .entryPage-colorLight{
        position: absolute;
        top: 30%;
        left: 50%;
        width: 25rem;
        height: 25rem;
        background: white;
        border-radius: 10rem;
        z-index: -1;
        pointer-events: none;
        filter: saturate(1.5);
        animation: move 20s ease-in-out infinite alternate, 
            gradientBackground 15s infinite alternate, 
            sizeChanging 15s infinite alternate;
        opacity: 100%;
        @include transition(.5s);
    }
    & .colorLight-off{
        opacity: 0%;
        // display: none;
    }
    
    & .entryPage-backgroundLayer{
        // height: 100vh;
        // width: 100vw;
        backdrop-filter: blur(5rem);
        -webkit-backdrop-filter: blur(5rem);

        & .entryPage-innerElements{
            @include flexVerticalCentered(column);
            align-items: normal;
            height: 100vh;
            width: 100vw;
            min-height: 45rem;
        
            & .entryPage-centerSection{
                @include flexVerticalCentered(column-reverse);
                justify-content: center;
                flex-grow: 1;
                row-gap: 2rem;
                justify-content: space-evenly;
                margin: 0rem 1rem;

                & .entryPage-buttonSection-hidding{
                    animation: zoomEffect4 .3s ease-in-out;
                }
            }
            
            & .entryPage-description{
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 50rem;
                margin: 0rem 1rem 2rem 1rem;
                animation: slideFromBottom2 .7s ease-in-out;
                
                & > .entryPage-description-texts {
                    background: $grey4;
                    padding: .4rem;
                    width: fit-content;
                    font-size: 1rem;
                    border-radius: .2rem;
                }
                & > .entryPage-description-text-personalized-1{
                    // border-radius: .2rem .2rem .2rem .2rem;
                    // border-end-start-radius: 0;
                    border-bottom-left-radius: 0;
                }
                & > .entryPage-description-text-personalized-2{
                    // border-radius: 0rem 0 .2rem .2rem;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    margin-top: -.1rem;
                }
                & > .verticalSpace {
                    margin: .7rem 0rem;
                }
            }
            & .entryPage-description-hidding{
                animation: zoomEffect5 .3s ease-in-out;
            }
        }
    }

}