.home {
    display: flex;
    flex-direction: column;
    // padding: 2rem;
    @include transition(.3s);
    // transition: all ease-in-out .2s;
    z-index: 1;
    row-gap: 3rem;
    // animation: transitionAppearing .6s;
    
    & .fillTheGap {
        height: 3.3rem;
        // @include transition(.0s)
    }
}
.home-mobileScreen {
    row-gap: 2rem;
    padding: .8rem;
}

.home-columnsView{
    row-gap: 1rem;
}
.home-detailsView{
    row-gap: 2rem;
}

.home-innerSection-profile{
    row-gap: 3rem;
}

// the purpose of those 2 following classes are to avoid transition to occur when scrolling up/down 
//... when the topMenu is sticky, otherwise it will create some issues
// .home-topMenuIsSticky{
//     // margin-top: 6rem;
//     // transition: margin-top 0s;
//     // transition: row-gap 0s;
//     row-gap: 6rem;
// }
// .home-topMenuNotSticky-noTransition{
//     // margin-top: 0;
//     // transition: margin-top 0s;
//     // transition: row-gap 0s;
// }