.home {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @include transition(.1s);
    z-index: 1;
    
    & .fillTheGap {
        height: 3.9rem;
        @include transition(.1s)
    }
}
