.selector {
    @include flexVerticalCentered(row);
    column-gap: .1rem;
    // background: $grey3;
    align-self: center;
    border-radius: 1rem;
    @include transparent($grey3, $blur1);

    & .selectorElements {
        @include buttonBehavior($grey3, .95, .1s);
        padding: .3rem .7rem;
        border-radius: 1rem;
    }
}