.postProfileButton{
    @include buttonBehavior2($grey2, .95, .15s);
    // align-self: flex-start;
    color: $white1;
    // @include flexVerticalCentered(row);
    padding: 0.3rem .7rem 0.3rem 0.3rem;
    border-radius: 3rem;
    column-gap: .5rem;
    white-space: pre;
    font-size: .8rem;
    font-weight: 700;
    // animation: zoomEffect1 .5s ease-in-out;

    &:hover {
        box-shadow: $innerShadow7;
    }

    & > .buttonWithImage{
        column-gap: .5rem;
        align-items: center;
        
        & > img {
            box-shadow: $shadow7;
            border-radius: 3rem;
            height: 1.2rem;
            width: 1.2rem;
        }
    }
}