.postTheme{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: .3rem;
    margin-left: .3rem;
}

.postTheme > p{
    margin-right: .5rem;
    background: $grey2;
    border-radius: 3rem;
    padding: .1rem .5rem;
    font-size: .7rem;
    cursor: pointer;
    @include transition(.08s)
}
.postTheme > p:hover{
    filter: brightness(85%);
}
.postTheme > p:active{
    transform: scale(.90);
}