.post{
    display: flex;
    flex-direction: column;
    position: relative;
    @include transition(.15s);
    
    & .innerPost{
        background: $grey1;
        padding: .8rem;
        border-radius: 1rem;
        cursor: pointer;
        @include transition(.1s);
        
        &:hover{
            background: darken($grey1, 4%);
        }
    }
}