.addPostButton2{
    content: url('/src/assets/plus.svg');
    // background: $white2;
    width: .7rem;
    height: .7rem;
    padding: .4rem;
    border-radius: 2rem;
    @include buttonBehavior($white1, .95, .1s);
}