.addPostButton{
    position: fixed;
    bottom: 2rem;
    align-self: flex-end;
    padding: .7rem;
    border-radius: 3rem;
    border: .25rem solid $transparentGrey1;
    z-index: 2;
    @include transparent($transparentWhite1, 1rem);
    @include transition(.1s);
    cursor: pointer;

    &:hover{
        background: darken($transparentWhite1, 4%);
    }
    &:active{
        margin: 0rem 0.25rem .25rem 0rem;
        border: 0rem solid $transparentGrey1;
    }
    & > .addPostButton-img{
        display: flex;
    }
}