.arrowButton{
    padding: .7rem;
    display: flex;
    @include buttonType1($grey1)
}

// variants of the buttons

    // upvote
    .arrowButton-upvote{
        
    }

    // downvote
    .arrowButton-downvote{
        transform: rotate(180deg);
    }
    .arrowButton-downvote:active{
        transform: scale(.9) rotate(180deg);
    }

    // search button
    .arrowButton-search{
        transform: rotate(90deg);
        background: $blue;
        padding: .5rem;
    }
    .arrowButton-search:hover{
        background: darken($blue, 7%);
    }
    .arrowButton-search:active{
        transform: scale(.85) rotate(90deg);
    }