// ----- global rules for the button
.buttonType1{
    border-radius: 3rem;
    z-index: 1;
    @include transition(.1s);
    @include buttonBehavior($grey1);

    & > .buttonType1-image{
        display: flex;
    }
}

// ----- upvote / downvote
.buttonType1-upvote, .buttonType1-downvote{
    padding: .5rem;
    display: flex;
}

// active button global
.buttonType1-active{
    transform: scale(1.05);
}
// active upvote button style
.buttonType1-upvote.buttonType1-active{
    background: $red;

    &:hover{
        background: darken($red, 7%);
    }    
}
// active downvote button style
.buttonType1-downvote.buttonType1-active{
    background: $blue;
    
    &:hover{
        background: darken($blue, 7%);
    }    
}

// ----- search
.buttonType1-search{
    background: $blue;
    padding: .4rem;

    &:hover{
        background: darken($blue, 7%);
    }
}

// ----- comment
.buttonType1-comment{
    padding: .5rem 1rem;
    font-size: .8rem;
    font-weight: 600;

    & > .buttonType1-image{
        display: none;
    }
}

// ----- theme
.buttonType1-theme{
    background: $grey2;
    margin-right: .5rem;
    padding: .1rem .5rem;
    font-size: .7rem;

    &:hover{
        background: darken($grey2, 7%);
    }
}