.button-trend{
    padding: .5rem 1rem;
    // background: $grey4;
    // margin: .5rem 0rem;
    border-radius: .5rem;
    font-size: .85rem;
    @include buttonBehavior($grey4, .95, .15s);
    // @include transition(.15s);
    box-shadow: $shadow5;
    border: $border1;
}