.buttonWithIcon{
    // @include flexVerticalCentered(row);
    // padding: .5rem 2rem .5rem 1rem;
    // column-gap: 1rem;
    // @include buttonBehavior($grey4, .95, .15s);
    // border-radius: 5rem;
    display: flex;

    & img {
        width: 1rem;
        height: 1rem;
    }
}
.buttonWithIcon:hover {
    // border: $border1;
    // box-shadow: $innerShadow3;
}

.buttonWithIcon-userSettings {
    @include flexVerticalCentered(row);
    padding: .5rem 2rem .5rem 1rem;
    column-gap: 1rem;
    @include buttonBehavior2($grey4, .95, .15s);
    border-radius: 5rem;
}

// used for the photo/video/poll buttons in headerMenu
.buttonWithIcon-addPostPanelSectionButton{
    @include flexVerticalCentered(column);
    @include buttonBehavior2($grey4, .9, .1s);
    row-gap: .5rem;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .8rem;

    & img {
        width: .9rem;
        height: .9rem;
    }
}

// used for the blue post button in headerMenu
.buttonWithIcon-addPostPanelSectionBottomPost{
    @include flexVerticalCentered(row-reverse);
    @include buttonBehavior($blue, .95, .1s);
    column-gap: .5rem;
    padding: .4rem .8rem;
    border-radius: .5rem;
    box-shadow: $innerShadow2;
    font-weight: 700;
}

.buttonWithIcon-addPostPanelSectionBottomDraft{
    @include flexVerticalCentered(row-reverse);
    @include buttonBehavior2($grey4, .95, .1s);
    padding: .4rem .6rem;
    column-gap: .5rem;
    border-radius: .5rem;
    font-size: .85rem;

    & img {
        width: .8rem;
        height: .8rem;
    }
}