// ----- global rules for the button
.buttonType1{
    border-radius: 3rem;
    z-index: 1;
    @include transition(.1s);
    @include buttonBehavior($grey1, .9);

    & > .buttonType1-image{
        display: flex;
    }
}

// ----- upvote / downvote
.buttonType1-upvote, .buttonType1-downvote{
    padding: .5rem;
    display: flex;
}

// active button global
.buttonType1-active{
    transform: scale(1.05);
}
// active upvote button style
.buttonType1-upvote.buttonType1-active{
    background: $pink;

    &:hover{
        background: darken($pink, 7%);
    }    
}
// active downvote button style
.buttonType1-downvote.buttonType1-active{
    background: $blue;
    
    &:hover{
        background: darken($blue, 7%);
    }    
}

// ----- search
.buttonType1-search{
    background: $blue;
    padding: .4rem;

    &:hover{
        background: darken($blue, 7%);
    }
}

// ----- comment
.buttonType1-comment{
    padding: .5rem 1rem;
    font-size: .8rem;
    font-weight: 600;

    & > .buttonType1-image{
        display: none;
    }
}

// ----- theme
.buttonType1-theme{
    background: $grey2;
    margin-right: .5rem;
    padding: .1rem .5rem;
    font-size: .7rem;

    &:hover{
        background: darken($grey2, 7%);
    }
}

// login & register buttons
.buttonType1-login, .buttonType1-register{
    background: $grey2;
    padding: .7rem;
    border-radius: .15rem;
    
    &.buttonType1-login{
        // border: .15rem solid darken($pink, 4%);
        @include buttonBehavior($grey4, .95);
    }
    &.buttonType1-register{
        @include buttonBehavior($grey4, .95);
        // border: .15rem solid darken($blue, 4%);
    }
}

// entryPageButton
.buttonType1-entryButton{
    @include transition(.15s);
    cursor: pointer;
    font-size: 2rem;
    padding: .3rem 1.5rem;
    border-radius: 0rem;
    color: $grey4;
    @include buttonBehavior($transparentWhite2, 1);
    // @include transparent($transparentGrey2, 0rem);
    // animation: gradientTransparentBackground 15s ease-in-out infinite alternate;
    position: relative;
    overflow: hidden;

    &:hover{
        // background: $grey4 !important;
        // background: repeating-linear-gradient(45deg, $white, $white 5px, $transparent 0px, $transparent 30px) !important;
        // animation: orbit 1s ease-in-out infinite alternate;
        // background: $grey3;
        // background-image: linear-gradient(bottom, black, black);
        color: $white;
    }
    &:active{
        // background: $grey4 !important;
        // background: repeating-linear-gradient(45deg, $white, $white 5px, $white 0px, $transparent 30px) !important;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: $grey4;
        transition: left 0.2s;
        transition-delay: 0.05s;
        z-index: -1;
    }
    &:hover:before {
        left: 0;
    }
    &:hover:active {
        background: repeating-linear-gradient(45deg, $white, $white 5px, $white 0px, $white 30px) !important;
    }

    & .blinkingUnderscore{
        animation: blink 1s steps(2, start) infinite;
    }
}

// ----- usual
.buttonType1-usual{
    background: $grey2;
    padding: .7rem;
    border-radius: .2rem;
    @include buttonBehavior($grey1, .95);
}