.expandButton{
    display: flex;
    @include buttonBehavior($grey3, 1, .15s);
    padding: .3rem .8rem;
    border-radius: .5rem;

    & img{
        @include transition(.3s);
        height: 1rem;
        width: 1rem;
    }
}