.expandButton{
    display: flex;
    @include buttonBehavior($grey3, 1, .15s);
    padding: .25rem .7rem;
    border-radius: .5rem;

    & img{
        @include transition(.2s);
        height: .9rem;
        width: .9rem;
    }
}