.hideRightPanelButton {
    display: flex;
    @include buttonBehavior($grey3, .95, .1s);
    align-self: flex-end;
    padding: .7rem;
    border-radius: .3rem;
    animation: zoomEffect1 .4s ease-in-out;
    margin: 0.2rem;

    & img {
        height: .8rem;
        transition: .3s ease-in-out;
    }
}

.hideRightPanelButton-open > img {
    transform: rotate(0deg);
}
.hideRightPanelButton-closed > img {
    transform: rotate(180deg);
}