.hideRightPanelButton {
    display: flex;
    @include buttonBehavior($grey3, .95, .1s);
    align-self: flex-end;
    padding: .7rem;
    border-radius: .3rem;

    & img {
        height: .8rem;
    }
}