.notificationButton {
    // @include flexVerticalCentered(row);
    // padding: .4rem;
    // border-radius: 2rem;
    // @include buttonBehavior($white2, .95, .1s);
    // position: relative;
    // column-gap: .4rem;
    // height: 1rem;

    & .notificationButton-bell{
        // content: url('/src/assets/bell2.svg');
        width: .8rem;
        height: .8rem;
    }

    & .notificationButton-true {
        width: .7rem;
        height: .7rem;
        background: $blue;
        border-radius: 3rem;
        animation: slideFromLeft2 .35s ease-in-out;
    }
}