.profileButton{

}

// --- header menu context
.profileButton-headerMenu{
    @include buttonBehavior($white2, .95, .1s);
    @include flexVerticalCentered(row);
    padding: 0.3rem .7rem 0.3rem 0.3rem;
    border-radius: 3rem;
    column-gap: .5rem;
    white-space: pre;
    font-size: .8rem;
    color: $grey2;
    font-weight: 700;
}

// --- post context
.profileButton-post{
    @include buttonBehavior2($grey2, .95, .15s);
    align-self: flex-start;
    color: $white1;
    
    @include flexVerticalCentered(row);
    padding: 0.3rem .7rem 0.3rem 0.3rem;
    border-radius: 3rem;
    column-gap: .5rem;
    white-space: pre;
    font-size: .8rem;
    font-weight: 700;
}

// --- feed selector context
.profileButton-feedSelector{
    padding: .4rem 1rem;
    border-radius: 3rem;
    @include flexVerticalCentered(row);
    column-gap: .7rem;
    @include buttonBehavior2($grey2,.95,.1s)
}
.profileButton-feedSelector-selected{
    background: $grey4;

    &:hover{
        background: $grey4;
    }
    &:active{
        transform:none;
    }
}