.loginAndRegister{
    display: flex;
    flex-direction: column;
    // animation: zoomEffect2 .25s ease-in-out;
    @include transition(.2s);
    row-gap: 1rem;
    color: $white3;

    & .loginAndRegister-panels{
        display: flex;
        flex-direction: column;
        min-width: 25rem;
        animation: zoomEffect2 .25s ease-in-out;
        row-gap: 1rem;
        border: $border1;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @include transparent($transparentWhite2, $blur3);
        padding: 1.5rem 2rem;
        border-radius: .3rem;
        
        & h3 {
            color: $grey4;
            margin-bottom: 1rem;
            font-weight: 500;
        }
    }

    & .loginAndRegister-buttons{
        // display: flex;
        // flex-direction: row;
        @include flexVerticalCentered(row);
        place-content: space-between;
        animation: zoomEffect2 .4s ease-in-out;
    }
}