.loginAndRegisterField{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    & p{
        color: $grey4;
    }
    
    & input {
        @include transition(.2s);
        // font-family: 'sen','saira', Arial, Helvetica, sans-serif;
        border: $border6;
        border-radius: .3rem;
        padding: .5rem .7rem;
        @include transparent($transparent, $blur3);
        height: 1rem;
        font-weight: 500;
    }
    & input:focus {
        border: $border11;
        // box-shadow: $innerShadow2;
        // background: $white2;
    }
}