.loginAndRegisterButton{
    
}
.loginAndRegisterButton-choice{
    // background: $transparentGrey6;
    padding: .3rem 2rem;
    border-radius: 0.3rem;
    border: $border7;
    color: $white1;
    @include transition(.2s);
    background: $grey4;
}
.loginAndRegisterButton-yes{
    @include buttonBehavior2($pink, .9, .1s);
}
.loginAndRegisterButton-no{
    @include buttonBehavior2($blue, .9, .1s);
}
.loginAndRegisterButton-enter{
    // @include transparent($pink, $blur2);
    @include buttonBehavior($grey4, .9, .1s);
    
    padding: .3rem 2rem;
    border-radius: 0.3rem;
    border: $border7;
    color: $white1;
    // @include transition(.2s);
    // background: $grey4;
}
.loginAndRegisterButton-return{
    @include buttonBehavior2($transparentWhite2, .9, .1s);
    @include transparent($transparentWhite2, $blur2);
    
    padding: .5rem;
    border-radius: 5rem;
    border: $border7;
    @include transition(.1s);
    // background: $transparentGrey1;

    & .buttonWithIcon > p{
        display: none;
    }
}