.loginAndRegisterField{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    & p{
        color: $grey3;
    }
    
    & input {
        @include transition(.1s);
        font-family: 'sen','saira', Arial, Helvetica, sans-serif;
        border: $border7;
        border-radius: .5rem;
        padding: .5rem .7rem;
        @include transparent($transparent, $blur3);
        height: 1.1rem;
        font-weight: 500;
        // background: $white4;
    }
    & input:focus {
        border: $border10;
    }
}